First Step (Getting our Data Ready)

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('netflix_titles.csv')

In [6]:
print(df.info())
df.dropna(subset=['type', 'title', 'release_year', 'rating'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [8]:
df_cleaned = df.dropna()

In [10]:
# Check the resulting DataFrame
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   object
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: int64(1), object(11)
memory usage: 541.5+ KB
None

In [24]:
def search_movies(df, search_criteria):
    """
    Filter movies based on search criteria for type, title, and ratings.

    Args:
        df (DataFrame): The cleaned DataFrame containing movie data.
        search_criteria (dict): Dictionary with keys 'type', 'title', and 'rating' with corresponding search values.

    Returns:
        DataFrame: Filtered DataFrame based on the criteria.
    """
    filtered_df = df
    
    if search_criteria.get('type'):
        filtered_df = filtered_df[filtered_df['type'].str.lower() == search_criteria['type'].lower()]
        
    #if search_criteria.get('title'):
        #filtered_df = filtered_df[filtered_df['title'].str.contains(search_criteria['title'], case=False, na=False)]
        
    if search_criteria.get('rating'):
        filtered_df = filtered_df[filtered_df['rating'].str.upper() == search_criteria['rating'].upper()]
        
    return filtered_df[['type', 'title', 'director', 'rating', 'release_year', 'description']]

In [28]:
# Example search criteria from user input
user_search = {
    'type': 'Movie',
    #'title': 'Inception',
    'rating': 'PG-13'
}

# Perform search and display results
filtered_movies = search_movies(df, user_search)
print(filtered_movies)

       type                    title         director rating  release_year  \
0     Movie     Dick Johnson Is Dead  Kirsten Johnson  PG-13          2020
9     Movie             The Starling   Theodore Melfi  PG-13          2021
27    Movie                Grown Ups     Dennis Dugan  PG-13          2010
28    Movie               Dark Skies    Scott Stewart  PG-13          2013
29    Movie                 Paranoia   Robert Luketic  PG-13          2013
...     ...                      ...              ...    ...           ...
8757  Movie       World Trade Center     Oliver Stone  PG-13          2006
8764  Movie               Wyatt Earp  Lawrence Kasdan  PG-13          1994
8766  Movie                      XXx        Rob Cohen  PG-13          2002
8767  Movie  XXX: State of the Union     Lee Tamahori  PG-13          2005
8782  Movie              Yoga Hosers      Kevin Smith  PG-13          2016

                                            description
0     As her father nears the end of his life, filmm...
9     A woman adjusting to life after a loss contend...
27    Mourning the loss of their beloved junior high...
28    A familyâ€™s idyllic suburban life shatters when...
29    Blackmailed by his company's CEO, a low-level ...
...                                                 ...
8757  Working under treacherous conditions, an army ...
8764  Legendary lawman Wyatt Earp is continually at ...
8766  A notorious underground rush-seeker deemed unt...
8767  In this action-packed follow-up to XXX, U.S. i...
8782  With an all-important high school party at sta...

[490 rows x 6 columns]

In [20]:
# Get the unique ratings and count them
unique_ratings = df['rating'].unique()
num_unique_ratings = df['rating'].nunique()

# Print the unique ratings and their count
print(f'Unique Ratings: {unique_ratings}')
print(f'Number of Unique Ratings: {num_unique_ratings}')

Unique Ratings: ['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' 'TV-Y7-FV' 'UR']
Number of Unique Ratings: 17